<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Book</title>
    </head>
    <body>
        <form action="/campgrounds/<% {campground._id} %>bookings" method="POST" class="validated-form" novalidate="novalidate">
            <div class="mb-3">
                <label class="form-label" for="name">Book a stay</label>
                <input id="checkIn" name="checkIn" class="form-control" type="date" required/>
                <input id="checkOut" name="checkOut" class="form-control" type="date" required/>
                <input id="guests" name="guests" class="form-control" type="number" required>
                <button class="btn btn-success btn-block w-100" type="submit"></button>
            </div>
        </form>
    </body>
</html>
